body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    flex-basis: auto;
    min-height:100vh;
    padding: 0px;
    margin: 0px;
}
section{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    min-height: 45vh;
}
#sec2{
    min-height: 10vh;
    background-color: lightslategray;
    font-size: larger;
    font-weight: bolder;
}
#sec1{
    background-color: skyblue;
}
#sec3{
    background-color: lightpink;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.nope{
    background-color: lightgreen;

}
#sec2.win{
    background-color: rgba(135, 207, 235, 0.5);
}
#sec2.lose{
    background-color: rgba(255, 182, 193, 0.5);
}
#sec2.draw{
    background-color: rgb(119, 136, 153,0.5);
}
